<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<body>
    <div class="d-flex flex-column align-items-center">
        <div class="d-flex flex-column align-items-center m-5">
            <h1 class="display-4">World Scope Leaderboard</h1>
				<ul class="list-group list-group-horizontal">
  				<li class="list-group-item" style="padding: 0;">
            <ul class="list-group">
              <li class="list-group-item">Position:</li>
  						<li class="list-group-item">1)</li>
  						<li class="list-group-item">2)</li>
  						<li class="list-group-item">3)</li>
  						<li class="list-group-item">4)</li>
  						<li class="list-group-item">5)</li>
            </ul>
          </li>
  				<li class="list-group-item" style="padding: 0;">
            <ul class="list-group">
              <li class="list-group-item">Username:</li>
  						<li class="list-group-item">Sample Name</li>
  						<li class="list-group-item">Sample Name</li>
  						<li class="list-group-item">Sample Name</li>
  						<li class="list-group-item">Sample Name</li>
  						<li class="list-group-item">Sample Name</li>
            </ul>
          </li>
          <li class="list-group-item" style="padding: 0;">
            <ul class="list-group">
              <li class="list-group-item">Scores:</li>
  						<li class="list-group-item">Score</li>
  						<li class="list-group-item">Score</li>
  						<li class="list-group-item">Score</li>
  						<li class="list-group-item">Score</li>
  						<li class="list-group-item">Score</li>
            </ul>
          </li>
				</ul>
			</div>
    </div>
</body>

</html>