<h1>{{title}}</h1>
<p>Login</p>

<a href = "/account/signup"><button class="btn btn-secondary btn-lg btn-block">Create Account</button></a>
<form action='/login' method="POST">
    <input type="text" name="username" placeholder="enter username">
    <input type="password" name="password" placeholder="enter password">

    <div class="alert alert-dark" role="alert">
        {{message}}
    </div>

</form>
