<h1>{{title}}</h1>
<p>Login</p>

<button>Create Account</button>
<form action='/login'>
    <input type="text" name="username" placeholder="enter username">
    <input type="password" name="password" placeholder="enter password">

</form>
